//
//  Config.xcconfig
//  CargoLifter
//
//  Created by Fabian Jäger on 09.08.19.
//  Copyright © 2019 Mailbutler. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY =

DROPBOX_APP_KEY = '@"VALUE"'
DROPBOX_APP_SECRET = '@"VALUE"'

ONEDRIVE_APP_ID = '@"VALUE"'
ONEDRIVE_PRIVATE_KEY = '@"VALUE"'

GDRIVE_CLIENT_ID = '@"VALUE"'
GDRIVE_CLIENT_SECRET = '@"VALUE"'

BOX_CLIENT_ID = '@"VALUE"'
BOX_CLIENT_SECRET = '@"VALUE"'

DROPLR_PUBLIC_KEY = '@"VALUE"'
DROPLR_PRIVATE_KEY = '@"VALUE"'

MEDIAFIRE_APP_ID = '@"VALUE"'
MEDIAFIRE_API_KEY = '@"VALUE"'

DROPMARK_API_KEY = '@"VALUE"'

GCC_PREPROCESSOR_DEFINITIONS = DROPBOX_APP_SECRET=$(DROPBOX_APP_SECRET) DROPBOX_APP_KEY=$(DROPBOX_APP_KEY) ONEDRIVE_APP_ID=$(ONEDRIVE_APP_ID) ONEDRIVE_PRIVATE_KEY=$(ONEDRIVE_PRIVATE_KEY) GDRIVE_CLIENT_ID=$(GDRIVE_CLIENT_ID) GDRIVE_CLIENT_SECRET=$(GDRIVE_CLIENT_SECRET) BOX_CLIENT_ID=$(BOX_CLIENT_ID) BOX_CLIENT_SECRET=$(BOX_CLIENT_SECRET) DROPLR_PUBLIC_KEY=$(DROPLR_PUBLIC_KEY) DROPLR_PRIVATE_KEY=$(DROPLR_PRIVATE_KEY) MEDIAFIRE_APP_ID=$(MEDIAFIRE_APP_ID) MEDIAFIRE_API_KEY=$(MEDIAFIRE_API_KEY) DROPMARK_API_KEY=$(DROPMARK_API_KEY)
