<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLAutomaticallyUploadAttachments</key>
	<true/>
	<key>CLAttachmentLinkStyle</key>
	<integer>1</integer>
	<key>CLAttachmentLinkListPosition</key>
	<integer>0</integer>
	<key>CLMinAttachmentSize</key>
	<integer>1</integer>
</dict>
</plist>
