<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CargoLifter</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9999</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Mailbutler. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>CLMailBundle</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<string>[UUIDS_HERE]</string>
	<key>Supported10.12PluginCompatibilityUUIDs</key>
	<string>[UUIDS_HERE]</string>
	<key>Supported10.13PluginCompatibilityUUIDs</key>
	<string>[UUIDS_HERE]</string>
	<key>Supported10.14PluginCompatibilityUUIDs</key>
	<string>[UUIDS_HERE]</string>
</dict>
</plist>
